.commentsListItem {
  display: flex;
  justify-content: space-between;
  border: 1px solid blue;
  border-radius: 3px;
  width: 90%;
  margin: 20px auto;
}

.commentsListItem__commentTitle {
  min-width: 20%;
  border-right: 1px solid blue;
  padding: 10px;
}

.commentsListItem__commentAuthorName {
  font-style: italic;
}

.commentsListItem__commentDate {
  font-family: monospace;
}

.commentsListItem__commentText {
  width: 100%;
  padding: 10px;
  text-align: justify;
}

.commentsListItem__deleteButtonContainer {
  position: relative;
}

.commentsListItem__deleteButton {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

.commentsListItem__deleteButton div:first-child,
.commentsListItem__deleteButton div:last-child {
  position: absolute;
  left: 50%;
  margin-left: -5px;
  width: 20px;
  height: 2px;
  background-color: red;
  transform: rotate(45deg);
}

.commentsListItem__deleteButton div:last-child {
  transform: rotate(-45deg);
}