* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.appWrapper {
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.addCommentForm {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.addCommentForm__label {
  margin: 10px 45px;
  text-transform: uppercase;
  font-weight: 600;
  align-self: flex-start;
}

.addCommentForm__button {
  margin: 20px 45px;
  padding: 16px;
  background-color: blue;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  align-self: flex-end;
}

.addCommentForm__input,
.addCommentForm__textarea {
  width: 92%;
  margin: 10px auto;
  height: 30px;
  border: 3px solid blue;
  border-radius: 5px;
  padding: 5px;
}

.addCommentForm__textarea {
  height: 150px;
  resize: none;
}

.commentsList {
  list-style-type: none;
}
